<!DOCTYPE html>
<html>
<head>
    <title>Web SSH SFTP Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index">Web SSH SFTP Admin</a></h1>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="profile">Profile</a></li>
                                    <li><a href="login">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="index"><i class="glyphicon glyphicon-home"></i> Server List</a></li>
                    <li><a href="help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                    <li class="submenu">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i> My Account
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="profile">Profile</a></li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Server List</div>
                </div>
                <div class="panel-body">
                    <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-xs-3">
                                <div id="example_length" class="dataTables_length"><label><select size="1"
                                                                                                  name="example_length"
                                                                                                  aria-controls="example">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> records per page</label></div>
                            </div>
                            <div class="col-xs-3">
                                <div class="dataTables_filter"><label>Search: <input type="text"
                                                                                     aria-controls="example"></label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-xs-offset-4">
                                <a href="/server">
                                    <button class="btn btn-default btn-xs">Add Server</button>
                                </a>
                            </div>
                        </div>
                        <table cellpadding="0" cellspacing="0" border="0"
                               class="table table-striped table-bordered dataTable" id="example"
                               aria-describedby="example_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example"
                                    rowspan="1" colspan="1" aria-sort="ascending" style="width: 109px;">Server
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" style="width: 150px;">Host
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" style="width: 65px;">Port
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" style="width: 88px;">Last Login Time
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" style="width: 170px;">Operation
                                </th>
                            </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for index, each_server in enumerate(server_list) %}
                            {% if index % 2 == 0 %}
                            <tr class="gradeA odd">
                                <td class=" sorting_1">{{ each_server.server_name }}</td>
                                <td class=" ">{{ each_server.host }}</td>
                                <td class=" ">{{ each_server.port }}</td>
                                <td class="center ">{{ each_server.last_login_time }}</td>
                                <td class="center ">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-play"></i>
                                            Run
                                        </button>
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="ssh?server_id={{ each_server.id }}">SSH</a></li>
                                            <li><a href="sftp?server_id={{ each_server.id }}">SFTP</a></li>
                                        </ul>
                                    </div>
                                    <a href="server?server_id={{ each_server.id }}&server_name={{ each_server.server_name }}&host={{ each_server.host }}&port={{ each_server.port }}">
                                        <button class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-pencil"></i>
                                            Edit
                                        </button>
                                    </a>
                                    <a href="server?delete={{ each_server.id }}">
                                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>
                                            Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <tr class="gradeA even">
                                <td class=" sorting_1">{{ each_server.server_name }}</td>
                                <td class=" ">{{ each_server.host }}</td>
                                <td class=" ">{{ each_server.port }}</td>
                                <td class="center ">{{ each_server.last_login_time }}</td>
                                <td class="center ">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-play"></i>
                                            Run
                                        </button>
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="ssh?server_id={{ each_server.id }}">SSH</a></li>
                                            <li><a href="sftp?server_id={{ each_server.id }}">SFTP</a></li>
                                        </ul>
                                    </div>
                                    <a href="server?server_id={{ each_server.id }}&server_name={{ each_server.server_name }}&host={{ each_server.host }}&port={{ each_server.port }}">
                                        <button class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-pencil"></i>
                                            Edit
                                        </button>
                                    </a>
                                    <a href="server?delete={{ each_server.id }}">
                                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>
                                            Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/custom.js"></script>

<footer>
    <div class="container">

        <div class="copy text-center">
            Copyright 2016 develop by Gzp
        </div>

    </div>
</footer>
</body>
</html>